<div class="movies">
  <div class="movie-container" *ngFor="let movie of movieList; index as i">
    <h2 class="title-main" title="{{ movie.title }}">{{ movie.title }}</h2>
    <img
      *ngIf="movie.poster_path"
      (click)="showInfo(i)"
      src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}"
      alt="movie-pic"
    />
    <img
      *ngIf="!movie.poster_path"
      (click)="showInfo(i)"
      src="../../assets/jordanCrying.jpg"
      alt="jordan"
    />
    <button class="heart" (click)="toggleFavorite(movie)">
      <i class="fas fa-heart" [ngClass]="{ favorite: checkFav(movie) }"></i>
    </button>
    <div class="info-popup" *ngIf="showIndex === i">
      <div class="popup">
        <h2 class="title-pop">{{ movie.title }}</h2>
        <div class="main-pop-content">
          <img
            *ngIf="movie.poster_path"
            src="https://image.tmdb.org/t/p/w1280{{ movie.poster_path }}"
            alt="movie-pic"
          />
          <img
            *ngIf="!movie.poster_path"
            (click)="showInfo(i)"
            src="../../assets/jordanCrying.jpg"
            alt="jordan"
          />
          <div class="card-info">
            <p>Rating: {{ movie.vote_average }}</p>
            <p>Release Date: {{ movie.release_date }}</p>
            <p>About: {{ movie.overview }}</p>
          </div>
          <button (click)="toggleDisplay()" class="x">
            <i class="fas fa-window-close"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
